<!DOCTYPE html>
<html lang="han">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: 15% 40%;">
        <h1>欢迎登录！</h1>
       <form action="seminar/" method="post">
                {% csrf_token %}
            <p>
                <label for="title">题目：</label>
                <input type="text" id="title" name="title" placeholder="题目" autofocus required />
            </p>
            <p>
                <label for="content">内容：</label>
                <input type="text" id="content" placeholder="内容" name="content" required >
            </p>
           <p>
                <label for="image">图片：</label>
                <input type="text" id="image" placeholder="图片" name="image" required >
            </p>
            <p>
                <label for="sliderFlag">标记：</label>
                <input type="text" id="sliderFlag" placeholder="标记" name="sliderFlag" required >
            </p>

            <input type="submit" value="确定">
        </form>
    </div>
</body>
</html>