<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
    </head>
    <body style="background-color: #eeeeee">
    <div>
        <div style="height: 300px;width: 400px;background-color: white;text-align:center;margin:20% auto">
            <div style="text-align: center;color: #FF7F50;font-size: 30px;margin: 2px auto;padding-top: 15px">登录</div>
            <form action="login/" method="post">

                <div><input type="text" id="id_username" name="username" placeholder="用户名" style="width: 300px;
	height: 40px;
	border: solid 1px #CCCCCC;
	margin: 20px auto 0 auto;
	background:white ;"></div>
                <div><input type="password" id="id_password" placeholder="密码" name="password" style="width: 300px;
	height: 40px;
	border: solid 1px #CCCCCC;
	margin: 20px auto 0 auto;
	background: white;"></div>
                <div><input type="submit" value="登录" style="	width: 300px;
	height: 40px;
	margin:  10px 30px;color: white;background: #FF7F50;font-size: 14px;"></div>
                <div style="color: #666;width: 300px;
	margin: 0 -25px;
	font-size: 14px;float: left"><span>还没有账号？</span><a href="register">马上注册</a></div>
            </form>
        </div>
    </div>

    </body>
    </html>
</DOCTYPE>