* {

    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

body {
    width: 99%;
    margin: 0 5px 0 7px;
    /*/ / background-color: #2ba2e6;*/
    font-family: "微软雅黑";
    font-size: 14px;
    background-color: #F4F4F4 ;

}

#Head {
    margin-top: 5px;
    /*margin-left: 20 px;*/
    text-indent: 0.5em;
    margin-right: 5px;
    width: 100%;
}

#Title {
    font-size: 30px;
    color: white;
    height: 69px;
    line-height: 69px;
    background-color: #36648B;
    /*background-image: url(../images/banner_bg.png);*/
    border-radius: 10px 10px 0 0;

}

#Title img {
    height: 69px;
    width: 70px;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 15px;
}

#exit {
    float: right;
    margin-right: 2%;
    vertical-align: middle;
    line-height: 35px;
    font-size: 16px;
    margin-top: 30px;
}

#exit img {

    vertical-align: middle;
    margin-right: 5px;
}

#login {
    float: right;
    margin-right: 20px;
    vertical-align: middle;
    line-height: 35px;
    font-size: 16px;
    margin-top: 30px;
    color: white;
}

#Banner {
    /*/ / background-color: #e5f7f9;*/
    /*/ / border: 1 px solid;*/
    /*background-image: url(../images/navbg.png);*/
    background-color: #EBEBEB;
    /*/ / box-shadow: - 1 px 1 px 5 px #056da9;*/
    margin-top: 3px;
    margin-bottom: 5px;
    height: 30px;
    text-indent: 16em;
    line-height: 35px;

}

#Banner img {
    height: 30px;
    vertical-align: middle;
    margin-left: 80px;
    margin-right: 5px;

}

#Main {

/ / margin-left: 6 px;
/ / margin-right: 9 px;
    margin-top: 5px;

}

#MainLeft {
    margin-bottom: 5px;
    width: 15%;
    background-color: #FAFAFA;
    height: 90%;;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 10px darkgray;
}

#MainLeft > ul > li {
    list-style-type: none;
    list-style-position: inside;
    height: 30px;
    text-indent: 1em;
    line-height: 30px;
    margin-left: -40px;
    background-image: url(../images/navbg.png);
}

#secondTile {
    font-size: 14px;
    display: none;

}

#secondTile li {
    text-indent: 4em;
    margin: 2px 0 2px -80px;
    list-style-type: none;
    list-style-position: inside;

}

#thirdTile {
    font-size: 14px;
    display: none;
}

#thirdTile li {
    text-indent: 4em;
    margin: 2px 0 2px -80px;
    list-style-type: none;
    list-style-position: inside;

}

#MainRight {
    float: right;
    margin-left: 5px;
    border-radius: 3px;
    /*background-color: #e5f7f9;*/
    background-color: #FAFAFA;
    height: 90%;
    width: 84%;
    overflow: auto;
    box-shadow: -1px 2px 10px grey;

}

#bottom {
    font-size: 16px;
    color: white;
    height: 30px;
    line-height: 30px;
    background-color: #36648B;
    width: 100%;
    clear: both;
    border-radius: 0 0 10px 10px;
    text-align: center;
    /*background-image: url(../images/footer_bg.png);*/
}

.tableStyle {
    margin-top: 20px;
    border-collapse: collapse;
    /*margin: 0 auto;*/
    text-align: center;
}

.tableStyle td, .tableStyle th {

    border: 1px solid white;
    color: #666;
    height: 30px;
    text-align: center;
}

.tableStyle thead th {
    background-color:

#E0E0E0;
    margin-top: 20px;
    color: #4F4F4F;

}

.tableStyle tr:nth-child(odd) {
    background: #fff;

}

.tableStyle tr:nth-child(even) {
    background: #F5F5F5;
}

span {
    font-family: "微软雅黑";
    font-size: 16px;
    margin-right: 10px;
    line-height: 30px;
    white-space: pre;
    width: 70px;
    display: inline-block;
    text-align: left;

}

#MainRight form input {
    width: 60%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;

}

#MainRight select {
    width: 200px;
    height: 30px;
    line-height: 25px;
    margin-left: -5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

#articleEditor {
    margin-top: 30px;
    width: 80%;
    height: 80%;
    margin-left: 80px;
}

#MainRight span {
    font-family: "微软雅黑";
    font-size: 16px;
    margin-right: 10px;
    line-height: 16px;
    white-space: pre;
    width: 100px;
    display: inline-block;
    text-align: left;

}

#information {
    margin: 10px 0 0 10px;
}

#information input {
    width: 70%;
    height: 4%;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}

information textarea {

    width: 70%;
    height: 100px;
    margin-top: 10px;
    vertical-align: middle;
    overflow-y: scroll;

}

.addUnderline {
    color: #36648B;
    text-decoration: underline;
    text-decoration-color: #36648B;
}

header {
    width: 100%;
    height: 50px;
    background: #1e1b29;
    border-bottom: solid 4px red;
}

.member_wrap {

}

.header_item {
    overflow: hidden;
}

.header_item {

    width: 980px;
    margin: 0 auto;
}

.menu_head {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 3px #fff;
    overflow: hidden;
}

.menu_head img {
    width: 100%;
    height: 100%;
}

.menu_info {
    width: 840px;
    margin-left: 20px;
}

.info_name {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}

.info_name_box {
    margin-top: 10px;
}

.level {
    font-size: 14px;
    color: #f60;
    font-weight: bold;
}

.info_desc {
    margin-top: 10px;
    font-size: 14px;
    color: #FFF;
}

.banner_menu {
    width: 980px;
    height: 50px;
    margin: 20px auto;
    background: #fff;
}

.nav_box {
    margin-top: 50px;
}

.nav_box ul {
    overflow: hidden;
}

.nav_box ul li {
    display: block;
    padding: 0 20px;
}

.nav_box ul li a {
    color: #fff;
    font-size: 16px;
}

.nav_box ul li a:hover {
    color: red;
}

.login_wrap {
    /*background: url(../img/logo_bg.jpg) no-repeat center;*/
    background-color: #eeeeee;
    background-size: 100%;
}

.logo {
    width: 500px;
    height: 150px;
    margin: 0px auto;
    /*background: url(../img/logowz.png) no-repeat center;*/
}

.login_box {
    width: 360px;
    background: #FFFFFF;
    margin: 0px auto;
}

.login_title {
    font-size: 25px;
    text-align: center;
    color: #FF7F50;
    padding: 15px 0;
    width: 300px;
    margin: -30px auto;
    border-bottom: solid 1px #CCCCCC;
}

.form_text_ipt {
    width: 300px;
    height: 40px;
    border: solid 1px #CCCCCC;
    margin: 20px auto 0 auto;
    background: #FFFFFF;
}

.form_check_ipt {
    width: 300px;
    margin: 10px auto;
    overflow: hidden;
}

.form_text_ipt input {
    width: 290px;
    height: 30px;
    margin: 5px;
    border: none;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #666;
}

.check_left label {
    cursor: pointer;
}

.check_left label input {
    position: relative;
    top: 2px;
}

.form_btn {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 330px;

}

.form_btn input {
    width: 100%;
    height: 100%;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    background: #FF7F50;
    cursor: pointer;
}

.form_reg_btn {
    width: 300px;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
}

.other_login {
    overflow: hidden;
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin: 0px auto;
}

.other_left {
    font-size: 14px;
    color: #999;
}

.other_right a {
    margin: 5px;
    color: #636363;
}

.other_right a:hover {
    color: #AEEEEE;
}

.ececk_warning {
    font-size: 13px;
    color: red;
    width: 300px;
    margin: 0 auto;
    display: none;
}