<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="reason" name="reason">Reason:{{ reason }}</div>
<br>
<div id="startTime" name="startTime">StartTime:{{ startTime }}</div>
<br>
<div id="endTime" name="endTime">EndTime:{{ endTime }}</div>
<br>
<br>
<br>
<a href="http://127.0.0.1:8000/api/admin/leave/agree?id={{ id }}"><img src="cid:test_cid1" width="140px" height="60px"></a>&nbsp&nbsp&nbsp&nbsp
<a href="http://127.0.0.1:8000/api/admin/leave/disagree?id={{ id }}"><img src="cid:test_cid2" width="140px"
                                                                          height="60px"></a>
</body>
</html>